<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- tailwind cdn -->
    <script src="https://cdn.tailwindcss.com"></script>

    <title>weather or not APi</title>
</head>
<body>
    
    <body class="text-slate-700 max-w-lg mx-auto">


        <div class="p-2">
    
            <div class="p-4">
    
                <form action="/locate">
                    <div class="relative border rounded-md">
    
                        <div class="p-2  pl-12 w-full">
                            <input type="text" name="states" placeholder="input here" class="w-full outline-none">
    
                        </div>
    
                        <div class="absolute px-3 left-0 top-1/2 -translate-y-1/2">
    
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                                <path fill-rule="evenodd" d="M11.54 22.351l.07.04.028.016a.76.76 0 00.723 0l.028-.015.071-.041a16.975 16.975 0 001.144-.742 19.58 19.58 0 002.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 00-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 002.682 2.282 16.975 16.975 0 001.145.742zM12 13.5a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd" />
                            </svg>
                              
    
                        </div>
    
    
                    </div>
                </form>
    
            </div>


            {% if final_render %} 

            <div class="p-4">
                <div className="bg-white">
                    <div className="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
                      <h2 className="text-2xl font-bold tracking-tight text-gray-900">{{ final_render[0]['actual_location']['country_name'] }} <span class="mx-4 pl-4 border-l">{{ date }}</span></h2>
                      <h6 class="text-5xl tracking-tight font-bold text-gray-900 py-2">
                        {{ final_render[0]['actual_location']['message']['slang'] }}
                      </h6>
                      <p class="text-sm text-gray-600 ">{{ final_render[0]['actual_location']['weather'] }} <span class="pl-4 mx-4">{{ final_render[0]['actual_location']['temp'] }} &deg; C</span></p>

              
                      <div className="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
    
    
                          <div class="mt-8">
                            <div class="flow-root">
                              <ul role="list" class="-my-6 divide-y divide-gray-200">


                                {% for items in final_render %}

                                {% for d in items['other_countries'] %}

                                
                                <li class="flex py-6">
                                  <div class="h-24 w-24 flex-shrink-0 overflow-hidden rounded-md border border-gray-200">
                                    <img src="{{ d['flag_img'] }}" alt="Flag loading" class="h-full w-full object-cover object-center">
                                  </div>
            
                                  <div class="ml-4 flex flex-1 flex-col">
                                    <div>
                                      <div class="flex justify-between text-base font-medium text-gray-900">
                                        <h3>
                                          <a href="#">{{ d['country_name'] }}</a>
                                        </h3>
                                      </div>
                                      <p class="mt-1 text-sm text-gray-500">{{ d['message'] }}</p>
                                    </div>
                                    <div class="flex flex-1 items-end justify-between text-sm pt-2">
                                      
            
                                      <div class="flex">
                                        <a href="{{ d['details_link'] }}" class="font-medium text-indigo-600 hover:text-indigo-500">Learn more</a>
                                      </div>
                                    </div>
                                  </div>
                                </li>
                                
                                {% endfor %}

                                {% endfor %}



                                <!-- More products... -->
                              </ul>
                            </div>
                          </div>
                        </div>
    
    
    
                      </div>
    
                    </div>
            </div>
            {% endif %}
    
    
        </div>
    
</body>
</html>